/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
body {
  font-family: 'Inter', sans-serif;
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  /* Fixed width for the sidebar */
  height: 100vh;
  /* Full height */
  background-color: #f3f4f6;
  /* Light gray background */
  padding: 20px;
  overflow-y: auto;
  /* Enables scrolling if content overflows */
  border-right: 1px solid #d1d5db;
  /* Border line to separate sidebar from content */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar h1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.sidebar ul {
  padding: 0;
  list-style: none;
}

.sidebar li {
  padding: 0.5rem 0;
  font-size: 0.875rem;
  font-weight: 500;
}

/* Main content styles */
#app {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 250px;
  /* Set margin to account for sidebar */
}

.main-content {
  flex-grow: 1;
  /* Fills remaining space */
  padding: 40px;
  /* More padding for layout */
  overflow-y: auto;
  /* Allows scrolling for main content */
}

.main-content h2,
.main-content p,
.main-content blockquote {
  margin-bottom: 1rem;
}

.main-content h2 {
  font-size: 2rem;
  font-weight: 700;
}

.main-content p {
  font-size: 0.875rem;
  line-height: 1.6;
}

.main-content blockquote {
  border-left: 4px solid #64748b;
  padding-left: 20px;
  font-style: italic;
  color: #475569;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    /* Full width on small screens */
  }

  #app {
    margin-left: 0;
    /* Remove margin on small screens */
  }
}

/* Highlight the active repository */
.active {
  background-color: #e5e7eb;
  /* A light gray to indicate selection, adjust color as desired */
  border-left: 4px solid #3b82f6;
  /* A blue left border to indicate selection, adjust color as desired */
  padding-left: calc(0.5rem - 4px);
  /* Adjust padding to account for border width */
}