.messageHeader {
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #091164;;
}

.messageSystem {
    padding: 20px;
}

.message-list {
    list-style-type: none;
    padding: 0;
}

.message {
    border-bottom: 1px solid #c4c4c4;
    padding: 10px 0;
}

.sender {
    font-weight: bold;
}

.question {
    margin-top: 5px;
}

.date {
    color: #878484;
    font-size: 0.8em;
}


